flask==1.0.2
matplotlib==2.2.2
pandas==1.1.5
numpy==1.19.5
flask-sqlalchemy==2.5.1
empyrial==1.9.1
DateTime==4.4
ipython==7.16.3
importlib-metadata==4.8.3
requests==2.27.1
QuantStats==0.0.50
flask-migrate==3.1.0
SQLAlchemy==1.4.35
